.App{
    display: flex;
}

body{
    overflow: hidden;
    font-size: 18px;
    line-height: 1.8;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

@import './assets/scss/normalize.scss'




