.App{
    display: flex;
    background: #F2F2F2;
    width: 100%;

    &__content{
        width: 100%;
    }

}

body{
    overflow: hidden;
    font-size: 18px;
    line-height: 1.8;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

@import './assets/scss/normalize.scss'




