.boxtop{
    margin: 24px 0;
    

    &__page{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 230px;
    }

    &__input{
        width: 600px;
        height: 30px;
        background: #EBEBEB;
        mix-blend-mode: normal;
        border: 1px solid #bda9a9;  
        border-radius: 22px;
        outline: none;

        &::placeholder{
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            opacity: 0.4;
            padding: 10px;
            mix-blend-mode: normal;
            color:#30384C;
        }
    }


}